
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<a class="btn btn-primary float-end m-2" href="/Admin/Category">Kategori Listesi</a>
<a class="btn btn-primary float-end m-2" href="/Admin/Product">Ürün Listesi</a>
<h1 class="m-2">Admin Anasayfa</h1>
